{% extends 'layout.html' %}
{% block content %}
<body>
    <h1>Pizza Shop 2.0</h1>
    <form method="POST" action="{{ url_for('order') }}">
        {{ form.hidden_tag() }}
        <table>
            <tr>
                <td>{{ form.name.label }}</td>
                <td>{{ form.name() }}</td>
                {% for error in form.name.errors %}
                    <td><span style="color: red;">{{ error }}</span></td>
                {% endfor %}
            </tr>
            <tr>
                <td>{{ form.topping.label }}</td>
                <td>{{ form.topping() }}</td>
                {% for error in form.topping.errors %}
                    <td><span style="color: red;">{{ error }}</span></td>
                {% endfor %}
            </tr>
            <tr>
                <td>{{ form.sauce.label }}</td>
                <td>{{ form.sauce() }}</td>
                {% for error in form.sauce.errors %}
                    <td><span style="color: red;">{{ error }}</span></td>
                {% endfor %}
            </tr>
            <tr>
                <td>{{ form.extras.label }}</td>
                <td>{{ form.extras() }}</td>
                {% for error in form.extras.errors %}
                    <td><span style="color: red;">{{ error }}</span></td>
                {% endfor %}
            </tr>
            <tr>
                <td>{{ form.instructions.label }}</td>
                <td>{{ form.instructions() }}</td>
                {% for error in form.instructions.errors %}
                    <td><span style="color: red;">{{ error }}</span></td>
                {% endfor %}
            </tr>
            <tr>
                <td colspan="2">{{ form.submit() }}</td>
            </tr>
        </table>
    </form>
</body>
{% endblock %}
